link(rel='stylesheet',href='/css/main.css')
link(rel='stylesheet',href='/css/media.css')
link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css' integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p' crossorigin='anonymous')

link(rel='stylesheet',href='/css/animate.css')
link(rel='stylesheet',href='/css/bootstrap.css')
link(rel='stylesheet',href='/css/hover.css')








